.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #00000055;
	z-index: 10;
}

.details {
	width: 60%;
	height: 90%;
	margin: 2rem auto;
	background-color: #eee;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	position: relative;
}

.details .header {
	display: flex;
	background-color: #ccc;
	padding: 10px 20px;
	justify-content: space-between;
}

.close-btn {
	color: var(--main-color);
}

.empty-text {
	display: block;
	padding: 2rem;
	margin: auto;
}

.cart-product {
	display: block;
	padding: 2rem;
	margin: auto;
}

.product-info {
	flex-basis: 50%;
}

.product-info h3 {
	font-weight: 400;
	font-size: 1rem;
}
